/* --------- fonts start------------ */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

* {
  margin: 0%;
  padding: 0%;
}

/* navigation bar */

nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 120px;
}

nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin: 10px;
}
nav ul a {
  text-decoration: none;
}

/* navgigation bar end */

.prebookBtn{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #E02C6D;
  font-weight: 700;
  font-size: 16px;
  color: white;
  margin-top: 10px;
  border: white;
  box-shadow: 2px 5px 7px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
  top: 0%;
}
.prebookBtn:hover{
  background-color: #f7377d;
}
.prebookBtn:active{
  top: 5px;
  box-shadow: 2px 0px 7px 2px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  margin: 100px 5%;
  align-items: center;
  justify-content: center;
}
.heading {
  width: 600px;
  margin: 0 5% 0 0;
  padding: 20px;
}
.headingImage {
  height: 475px;
  width: 475px;
}
.circleBg {
  position: relative;
  top: 0%;
  z-index: 1;
}
.mainCamera {
  position: relative;
  top: -458px;
  left: 25px;
  z-index: 2;
}
header h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 58px;
  margin-bottom: 30px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  flex-wrap: wrap;
}
.logos img {
  position: relative;
  bottom: 0;
  padding: 35px 5px;
  margin: 0 35px;
  cursor: pointer;
}
.logos img:hover{
  bottom: 15px;
}
hr {
  border: 1px solid lightgrey;
}
#popular{
  margin: 60px 0;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px
}
main > h2{
  margin: 100px 0;
  text-align: center;
}
.productSection{
  display: flex;
  justify-content: center;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    
}
article{
    display: flex;
    box-shadow:  0px 0px 19px 0px rgb(0, 0, 0, .15);
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 15px;
}
article:hover{
  background-color: #E02C6D;
  transform: scale(1.1);
  transition: transform .5s;
}

.productContainer{
  border-radius: 15px;
}
.productImage, .productInfo{
    border-radius: 15px;
    margin: 15px 15px;
}
.productImage img{
  width: 100%;
}
.productInfo  h2{
  font-family: "Poppins", sans-serif;
  padding: 5px 0;
}
.price{
  font-weight: 500;
}
.productInfo p{
  color: #787885;
  margin: 10px 0 ;
}
.ratings{
  margin: 5px 0;
  display: flex;
  
}
span{
  margin-left: 10px;

}
.stars{
  color: #FB8200;
}
footer{
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 50px 0;
}
footer h1{
  font-family: "Poppins", sans-serif;
  size: 25px;
  margin: 5px;
}

/* responsive css */

@media only screen and (max-width:745px) {

  .container{
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 0;
  }
  .heading{
    width: 100%;
    margin: 0 35%;
    padding: 0%;
    margin-bottom: 65px;
  }
  .heading p{
    margin: 0 5%;
  }
  .headingImage{
    width: 300px;
    height: 300px;
    margin: 45px ;
  }
  .headingImage img{
    width: 300px;
    height: 300px;
  }
  .mainCamera{
    top: -300px;
    left: 10px;
  }
  .logos{
    flex-wrap: wrap;
  }
  .products{
    grid-template-columns: 1fr;

  }
  article{
    width: 100%;
  }
  
}