/* --------- fonts start------------ */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 80px 120px;
}

nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin: 10px;
}
nav ul a {
  text-decoration: none;
}

.container {
  display: flex;
  margin: 50px 230px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.heading {
  margin: 50px;
  padding: 20px;
}
.headingImage {
  height: 475px;
  width: 475px;
  margin-right: 65px;
}
.circleBg {
  position: relative;
  top: 0%;
  z-index: 1;
}
.mainCamera {
  position: relative;
  top: -458px;
  left: 25px;
  z-index: 2;
}
header h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 58px;
  margin-bottom: 30px;
}
.heading p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos img {
  margin: 5px 25px;
}
hr {
  border: 1px solid lightgrey;
}

main > h2{
  margin: 100px 0;
  text-align: center;
}
.productSection{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    
}
article{
    display: flex;
    width: 350px;
    box-shadow:  0px 0px 19px 0px rgb(0, 0, 0, .15);
    padding-bottom: 10px;
}
.productContainer{
  margin: auto;
}
.productImage{
    width: 300px;
    height: 256px;
    border-radius: 15px;
    margin: 15px 0;
}
.productInfo h2{
  padding: 5px 0;
}
.ratings{
  margin: 5px 0;
  display: flex;
  
}
span{
  margin-left: 10px;

}
.stars{
  color: #FB8200;
}
footer{
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

@media only screen and (max-width:688px) {

  .container{
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 0;
  }
  .heading{
    margin: 0 0;
  }
  .logos{
    flex-wrap: wrap;
  }
  .products{
    grid-template-columns: 1fr;

  }
  article{
    width: 100%;
  }
  
}